# ignore .o files
*.o

# ignore .mod files
*.mod

# ignore .x files
*.x

# ignore .dat files (but not in the sub folders of testingCatnea)
*.dat
!/testingCatena/*/**/*.dat

#ignore .png files (but not in the sub folders of testingCatnea)
*.png
!/testingCatena/*/**/*.png